.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3% 15% 3% 15%;
}
header {
  margin-bottom: 20px;
  flex: 1;
  background-color: #fff;
  background-image: linear-gradient(top left, #fff, #ccc);
  border-radius: 15px;
  box-shadow: 8px 8px 4px #000;
  padding: 4%;
}

main {
  flex: 1;
  background-color: #fff;
  background-image: linear-gradient(top left, #fff, #ccc);
  border-radius: 15px;
  box-shadow: 8px 8px 4px #000;
  padding: 15%;
}

a {
  color: #000;
}
